<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="300">

<div class="container">
 <%if(user.id==profile_user.id){%>
    <h1> User Profile page</h1>
    <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" class="update_profile" method="POST">
        <div class="form-group">
            <label for="content">Profile Name</label>
            <input class="form-control" name="name" type="text"  placeholder="Your name" value="<%=profile_user.name%>" required>
            <label for="content">Email</label>
            <input class="form-control" name="email" type="text"  placeholder="Your email" value="<%=profile_user.email%>" required>
            <label class="content" for="myfile">upload photo</label>
            <input type="file" name="avatar" id="myfile" class="form-control">
            <input class="btn btn-success my-3" type="submit" value="update">
        </div>
    </form>

<% } else { %>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
<% } %>
</div>